{% extends 'base.html' %}

{% block content %}



<div id="admin_tables">
    
    <h2>Hi Admin. This is the Admin page</h2>
    <br>
<br>
<br>
<div class="flash_message">
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h2>{{ messages.pop() }}</h2> 
        {% endif %}
    {% endwith %}
    
</div>
<!--ALL Add edit button, OR functionality for popping up to edit delete when needed -->
    <h1>Users</h1>
        <table class="admin_tables_users">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Signed Up</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.joined_at}}</td>
                <td><b><a href="{{url_for('edit_entry', id=user.id, form_type='user')}}"><img src='static\refresh.png'></a></b></td>
                <td><b><a href="{{url_for('del_entry', id=user.id, form_type='user')}}"><img src='static\close.png'></a></b></td>
            </tr>
            {% endfor %}

        </table>



    <h1>Beers</h1>
    <table class="admin_tables_beers">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brewery</th>
            <th>Style</th>
            <th>ABV</th>
            <th>Avg Score</th>
            <th># Reviews</th>
        </tr>
        
        {% for beer in beers %}
        <tr>
            <td>{{beer.id}}</td>
            <td>{{beer.name}}</td>
            <td>{{beer.brewery_name}}</td>
            <td>{{beer.style}}</td>
            <td>{{beer.abv}}</td>
            <td>{{beer.avg_score}}</td>
            <td>{{beer.num_reviews}}</td>
        </tr>
        {% endfor %}

    </table>



    <h1>Breweries</h1>
        <table class="admin_tables_breweries">
            <tr>
                <th>ID</th>
                <th>Brewery</th>
                <th>City</th>
                <th>State</th>
                <th>URL</th>
                <th># Beers</th>
            </tr>
            
            {% for brewery in breweries %}
            <tr>
                <td>{{brewery.id}}</td>
                <td>{{brewery.brewery_name}}</td>
                <td>{{brewery.brewery_city}}</td>
                <td>{{brewery.brewery_state}}</td>
                <td>{{brewery.brewery_url}}</td>
                <td>{{brewery.num_beers}}</td>

            </tr>
            {% endfor %}

        </table>


 
    <h1>Reviews</h1>
    <table class="admin_tables_reviews">
        <tr>
            <th>ID</th> 
            <th>Username</th>
            <th>Beer_ID</th>
            <th>Beer</th>
            <th>Brewery</th>
            <th>Overall</th>
            <th>Review Date</th>
            <th>Edit</th>
            <th>Del</th>
        </tr>
        
        {% for review in reviews %}
        <tr>
            <td>{{review.id}}</td>
            <td>{{review.username}}</td>
            <td>{{review.beer_id}}</td>
            <td>{{review.beer_name}}</td>
            <td>{{review.brewery_name}}</td>
            <td>{{review.overall}}</td>
            <td>{{review.review_time}}</td>
            <td><b><a href="{{url_for('admin')}}">n/a</a></b></td>
            <td><b><a href="{{url_for('del_entry', id=review.id, form_type='review')}}"><img src='static\close.png'></a></b></td>
        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}