{% extends 'base.html' %}

{% block content %}

<br>
<div class="greet_user">
    
    <h2>Hi {{user.username}}! Use the form below to add a New Beer to the Beer Rater list!</h2>

</div>
<br>
<br>
<div class="flash_message">
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h2>{{ messages.pop() }}</h2> 
        {% endif %}
    {% endwith %}
    
</div>

<div class="flex_container">
        
    <form action="" method="post">

        

        {{ form.hidden_tag() }}
        <p>
            {{ form.name(size=26,placeholder="Name of Beer") }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.brewery_id(width=26, placeholder="Brewery") }}<br>
            {% for error in form.brewery_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.style(size=26,placeholder="Style") }}<br>
            {% for error in form.style.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.abv(size=26,placeholder="ABV (optional)") }}<br>
            {% for error in form.abv.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.beer_notes(size=26,placeholder="Brewer's notes (optional") }}<br>
            {% for error in form.beer_notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


</div>

{% endblock %}