{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="greet_user">
    
    <h2>Add Your Review, {{ user.username }}!</h2><br><br>
    <p>Use the form below to add your review of any Beer in the current list.
    If the beer you want to review is not in the current list, use the links
    above to add the beer as well as the brewery if needed. The 'Notes' are
    for your impression of the beer, and if you want to review based on the
    'Beer Judge Certification Program: Beer Style Guidelines' (www.bjcp.org),
    rate and score based on 'Look', 'Smell', 'Taste', and 'Feel'.</p>

</div>
<br>
<br>
<div class="flash_message">
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h2>{{ messages.pop() }}</h2>
        {% endif %}
    {% endwith %}
    
</div>

<div class="flex_container">
        
    <!-- <form action="" method="post"> -->
        

    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.beer_id(width=26,placeholder="Beer") }}<br>
            {% for error in form.beer_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location(width=26,placeholder="Location") }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.container(width=26,placeholder="Container") }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.size(width=26,placeholder="Size") }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.overall(size=26,placeholder="Overall Out of 5 Max") }}<br>
            {% for error in form.overall.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.look(size=26,placeholder="Look (optional)") }}<br>
            {% for error in form.look.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.smell(size=26,placeholder="Smell (optional)") }}<br>
            {% for error in form.smell.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.taste(size=26,placeholder="Taste (optional)") }}<br>
            {% for error in form.taste.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.feel(size=26,placeholder="Feel (optional)") }}<br>
            {% for error in form.feel.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.notes(size=26,placeholder="Notes") }}<br>
            {% for error in form.notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


</div>

{% endblock %}