{% extends 'base.html' %}

{% block content %}

<br>
<br>
<div class="greet_user">
    
    <h2>USER MOD</h2><br><br>
    
    <p>{{ user_ed.username }}</p>
    
</div>

<br>
<div class="flex_container">
    
    <h2>Edit Below</h2>

</div>
<br>
<br>

<div class="flex_container">


    <form action="/update" method="POST">
        
        <input type="text" value="{{ user_ed.username }}" name="udpatedname">
            
        <!-- <p>
            {{ form.city(size=32,placeholder="City (optional)") }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.state(size=32,placeholder="State (optional") }}<br>
            {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email(size=32,placeholder="email@somemail.com") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(size=32,placeholder="password*$%!@") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2(size=32,placeholder="password*$%!@") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> -->
        <input type="submit" value="Update">
    </form>


</div>

{% endblock %}



